* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-family: "Inter", sans-serif; */
    font-family: "Rubik", sans-serif;
    
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header__nav {
    background: #3E8989;
    padding: 37px 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    flex-wrap: wrap;
}
.menu__link {
    display: inline-block;
    color: #fff;
    margin-left: 30px;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    font-weight: 500;
    padding-bottom: 5px;
}
.menu__link:hover {
    border-bottom: 2px solid #fff;
}
/* zagl end  */

.header__content {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 780px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
}
.header__logo {
    text-decoration: none;
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 20px;
    
}

.header__desc {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 50px;
}
.header__logo2 {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #B4436C;
    padding: 14px 78px;
    border-radius: 30px;
    transition: 0.5s;
    font-family: "Inter",sans-serif;
}
.header__logo2:hover {
    background: #fff;
    color: #B4436C;
}
/* header end  */

.main__container {
    padding-top: 100px;
    flex-wrap: wrap;
}
.main__title {
    font-family: "Inter", sans-serif;
    text-align: center;
    /* margin-top: 100px; */
    margin-bottom: 50px;
    color: #3E8989;
    font-size: 40px;
    font-weight: 600;
}
.main__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.main__img {
    max-width: 545px;
    width: 100%;
}
.main__desc {
    font-size: 18px;
    font-weight: 400;
    text-align: left;

}
.main__name {
    max-width: 545px;
    min-height: 188px;
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog__cards {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
}

.catalog__title {
    font-weight: 600;
    font-size: 40px;
    color: #3E8989;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
}
.catalog__content {
    text-align: center;
    margin-top: 100px;
}
.card {
    max-width: 263px;
    width: 100%;
}
.card__img {
    background: #efefef;
    width: 100%;
    height: 300px;
    object-fit: contain;
    padding: 5px;
}
/* .card1 {
    padding: 0 23px 3px 42px;
}
.card2 {
    padding: 57px 6px 98px 39px;
}
.card3 {
    padding: 75px 1px 75px 2px;
}
.card4 {
    padding: 19px 0;
} */
.card__link {
    font-weight: 500;
    font-size: 24px;
    color: #000;
    transition: 2s;
}
.card__link:hover {
    transition: 0.3s;
    color: #B4436C;
}
.card__div-link {
    margin-top: 30px;
}



.contacts__content {
    display: flex;
    justify-content: space-between;
}
.contacts__title {
    font-weight: 600;
    font-size: 40px;
    color: #3E8989;
    font-family: "Inter", sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}
.contacts__desc {
    font-size: 20px;
    font-weight: 400;
    max-width: 555px;
}
.contacts__adress {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}
.adress {
    color: #000;
    font-size: 20px;
}

.footer {
    background: #3E8989;
    margin-top: 105px;
    padding: 32px 0 15px 0;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}
.footer__menu {
    display: flex;
    gap: 30px;
}
.footer__link {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.footer__search-btn {
    background: #295E5E;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 9px 14px;
}
.footer__search-input {
    font-size: 16px;
    font-weight: 400;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px 0 8px 20px;
    /* border: none; */
}
.footer__end {
    text-align: center;
}
.footer__desc {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.footer__search {
    display: flex;
    border: none;
    
}
form * {
    outline: none;
    border: none;
    font-family: "Rubik", sans-serif;
}
